/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .search-bar input {
    padding: 10px 300px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .right-icons span {
    margin: 0 10px;
    font-size: 20px;
  }
  